# vim: set ft=toml:

[org/gnome/desktop/interface]
clock-format='24h'
color-scheme='prefer-dark'
enable-animations=false
show-battery-percentage=false

[org/gnome/desktop/notifications]
show-banners=false

[org/gnome/desktop/wm/preferences]
num-workspaces=1

[org/gnome/mutter]
dynamic-workspaces=false
